    h1 {
        margin-bottom: 20px;
        color: black;
        text-align: center;
        border: 1px solid silver;
        border-radius: 5px;
        background-color: rgb(240, 240, 240);
        padding-left: 5px;
        box-shadow: 2px 2px 5px 2px silver;
    }
    
    li {
        list-style: none;
        border: 1px solid silver;
        border-radius: 5px;
        background-color: rgb(240, 240, 240);
        margin-left: -40px;
        margin-bottom: 15px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 2px 2px 5px 2px silver;
    }
    
    strong {
        visibility: hidden;
    }
    
    small {
        color: silver;
    }
    
    #btnNew {
        width: 600px;
        height: 40px;
        margin-right: 10px;
        box-shadow: 2px 2px 5px 2px silver;
    }
    
    #btnBack {
        width: 290px;
        height: 40px;
        margin-right: 10px;
        margin-bottom: 20px;
        box-shadow: 2px 2px 5px 2px silver;
    }
    
    #btnOk {
        width: 290px;
        height: 40px;
        margin-left: 10px;
        box-shadow: 2px 2px 5px 2px silver;
    }
    
    #pole1 {
        width: 595px;
        height: 200px;
        padding-top: 10px;
        resize: vertical;
        box-shadow: 2px 2px 5px 2px silver;
    }
    
    #pole2 {
        width: 595px;
        height: 200px;
        padding-top: 10px;
        resize: vertical;
        box-shadow: 2px 2px 5px 2pxnpn silver;
    }