<h1>{{ appTitle }}</h1>

<div class="okno1" *ngIf="vid1">
    <button id="btnNew" (click)="btnTransl()">Новый перевод</button>
    <ul>
        <li *ngFor="let data of transltext; let i = index" (click)="onClick(data.title)">
            <strong>{{i+1}}  </strong>
            <small>{{ data.date | date:'dd MMMM yyyy HH:mm:ss':'ru' }}</small>
            <br>{{data.title}}
        </li>
    </ul>
</div>


<div class="okno2" *ngIf="vid2">
    <span><button id="btnBack" (click)="btnBack()">Назад</button></span>
    <span><button id="btnOk" (click)="btnTranslOk()">Перевести</button></span>
    <br />
    <textarea id="pole1" placeholder="Введите текст для перевода" [(ngModel)]="textplus">
    </textarea>

</div>

<div class="okno2" *ngIf="vid3">
    <button id="btnBegin" (click)="btnBegin()">Назад</button><br />
    <textarea id="pole2">
        {{textplus}}
    </textarea>
</div>